@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;700&display=swap');

body {
    box-sizing: border-box; /* Garante que o padding e border sejam incluídos na largura total do elemento */
    font-family: 'Poppins', sans-serif;
    background-color: #ebebeb; /* Cor de fundo suave */
    margin: 0;
    padding: 0;
}

.container-body{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/*NAVBAR*/
header {
    background-color: #1E2842; /* Cor de fundo do header */
    position: sticky; /* Mantém a posição fixa do banner */
    margin-bottom: 20px; /* Espaçamento abaixo do header */
    top: 0;
    left: 0;
    display: flex; /*ele permite organizar os elementos em linha ou coluna*/
    justify-content: space-between; /* Distribui os itens com espaço entre eles */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    padding: 10px 80px; /* Espaçamento interno aumentado para mais espaço das margens */
    border-bottom: 20px solid #86c541; /* Borda na parte inferior do header */
    z-index: 1000; /* Garante que o header fique acima de outros elementos */
}

li, a, button {
    font-size: 16px; /* Tamanho da fonte */
    color: #FFFFFF; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado dos links */
}

.logotipo {
    margin-right: auto; /* Empurra o logotipo para a esquerda */ 
    width: 150px; /* Ajuste conforme o tamanho desejado */
    height: auto; /* Mantém a proporção da imagem */
}

.menu {
    list-style: none; /* Remove os marcadores da lista */
}

.menu li {
    display: inline-block; /* Exibe os itens do menu em linha */
    padding: 0px 20px; /* Espaçamento entre os itens do menu */
}

.menu li a:hover {
    color: #86c541; /* Cor do texto ao passar o mouse */
}

.icone {
    width: 30px;
    height: 24px;
    margin-left: 10px;
    filter: invert(1); /* Inverte as cores para branco, adequado ao fundo escuro */
}

/*BANNER*/

.container {
    background-color: #ebebeb;
    display: flex; /* Exibe os elementos em linha */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
    min-height: 400px; /* Altura mínima para o container */
    width: 100%; /* Largura total do container */
}

.banner-img {
    margin-bottom: 20px;
    max-width: 100%; /* Permite que a imagem tenha no máximo a largura do container */
    width: 100%; /* Define a largura da imagem */
    display: inline-block; /* Exibe a imagem como um bloco em linha */
    position: relative; /* Permite posicionar o texto sobre a imagem */
}

.banner-img img {
    display: block; /* Remove o espaço em branco abaixo da imagem */
    width: 100%; /* Garante que a imagem ocupe toda a largura do container */
    height: auto; /* Mantém a proporção da imagem */
}

.main-text {
    position: absolute; /* Permite posicionar o texto sobre a imagem */
    color: #ffffff; /* Cor do texto */
    bottom: 20px; /* Distância do texto em relação à parte inferior da imagem */
    left: 20px; /* Distância do texto em relação à parte esquerda da imagem */
    transform: none; /* Remove a transformação de centralização */
    width: auto; /* Permite que o texto ocupe a largura necessária */
    text-align: left; /* Alinha o texto à esquerda */
    padding: 15px 20px; /* Espaçamento interno para o texto */
    background-color: rgba(0, 0, 0, 0.4);
}

h1 {
    font-size: 40px; /* Tamanho da fonte do título principal */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
}

h2 {
    font-size: 18px; /* Tamanho da fonte do subtítulo */
    margin-bottom: 20px; /* Espaçamento abaixo do subtítulo */
}

/*SECTION CATEGORIA*/
.categoria{
    display: flex; 
    max-width: 1200px; /* Largura máxima para a seção de categorias */
    margin: 0 auto; /* Centraliza a seção de categorias horizontalmente */
    justify-content: space-around; /* Distribui os itens com espaço ao redor */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas menores */
    margin-top: 20px; /* Espaçamento acima da seção de categorias */
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente dentro de cada categoria */
    text-align: center; /* Centraliza o conteúdo dentro de cada categoria */
    flex: 0 1 auto; /* Permite que as categorias cresçam e encolham conforme necessário */  
    min-width: 100px; /* Largura mínima para cada categoria */
    max-width: 150px; /* Largura máxima para cada categoria */
}

.container-categorias{
    margin-bottom: 20px;
    background-color: #f9fafb;
    display: flex; /* Exibe os itens em linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas menores */
    gap: 30px; /* Espaçamento entre os itens das categorias */
    padding: 10px; /* Espaçamento interno para a seção de categorias */
}

.categoria a {
    display: block; /* Exibe os links como blocos para facilitar o clique */
    text-decoration: none; /* Remove sublinhado dos links */
}

.container-categorias img {
    padding: 10px; /* Espaçamento interno para as imagens das categorias */
    display: block; /* Remove o espaço em branco abaixo da imagem */
    max-width: 100%; /* Permite que a imagem tenha no máximo a largura do container */
    width: 30px; /* Tamanho da imagem das categorias */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 0px; /* Espaçamento abaixo da imagem */
    border: #1E2842 2px solid; /* Borda ao redor da imagem */
    border-radius: 50%; /* Bordas arredondadas para as imagens */
    transition: 0.3s ease; /* Animação suave para a transformação e mudança de cor da borda */
}

.container-categorias a img:hover {
    border-color: #319b3f; /* Cor da borda ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho da imagem ao passar o mouse */
}

.categoria a img:active {
    background-color: #43a2d3; /* Cor da borda ao focar na imagem */
    border-color: #43a2d3;
    transform: scale(1.1); /* Aumenta o tamanho da imagem ao focar */
    
}

.categoria h3 {
    text-align: center; /* Centraliza o texto dos títulos das categorias */ 
    font-size: 0.9rem; /* Tamanho da fonte dos títulos das categorias */
    color: #1E2842; /* Cor do texto dos títulos das categorias */
    margin: 5px, 0; /* Espaçamento acima e abaixo dos títulos das categorias */
    font-weight: 500; /* Peso da fonte dos títulos das categorias */
}

/*PRODUTOS*/
.section-produtos-title 
    {
    background-image: linear-gradient(to right,#319b3f, #319b3f00);
    height: 20px;
    padding: 10px 0px 20px 10px; /* Espaçamento interno para o título da seção de produtos */
    font-size: 22px; /* Tamanho da fonte do título da seção de produtos */
    color: #f9fafb; /* Cor do texto do título da seção de produtos*/
    text-align: left;
    border-radius: 5px;
    }

.container-produtos{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.produto{
    background-color: #f9fafb;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 5%;
    max-width: 200px;

}

.container-produtos img{
    max-width: 100%;
    height: 150px;
}

.produto-title{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.container-produtos p{
    color: #319b3f;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.btn{
    border: none;
    color: #f9fafb;
    background-color: #2f90c0;
    padding: 10px;
    height: 35px;
    border-radius: 45px;
    margin-top: auto;
    cursor: pointer;
}

/*FOOTER*/
footer{
    width: 100%;
    color: #f9fafb;
}

.footer-link{
    text-decoration: none;
}

.footer-container{
    background-color: #1E2842;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

.footer-contacts img{
    margin-bottom: 0.75rem;
}

.footer-socialmidia{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer-socialmidia .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #f9fafb;
    border-radius: 50%;
    transition: all 0.4s;
}

.footer-socialmidia .footer-link i{
    font-size: 1.25rem;
}

.footer-socialmidia .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#github{
    background-color: #4267b3;
}

#whatsapp{
    background-color: #25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: #f9fafb;
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color:#25d366;
}

.footer-feedback{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group{
    background-color: #f9fafb;
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: #0c111b;
}

.input-group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

.input-group button{
    background-color: #319b3f;
    border: none;
    color: #f9fafb;
    padding: 0px 1.25rem;
    height: 100%;
    border-radius: 0px 6px 6px 0px;
    transition: all 0.4s;
}

.input-group button:hover{
    opacity: 0.8;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #0c111b;
    font-size: 0.75rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px){
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px){
    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem, 2rem;
    }
}
/*RESPONSIVIDADE*/
@media (max-width: 750px) {
    li, a, button {
        font-size: 12px; /* Tamanho da fonte para telas menores */
    }

    .logotipo {
        font-size: 24px; /* Tamanho da fonte do logotipo para telas menores */
    }
    
}

